#Install PySpark
PySpark is an interface for Apache Spark in Python. It not only allows you to write Spark applications using Python APIs, but also provides the PySpark shell for interactively analyzing your data in a distributed environment.

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 57 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 35.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=c9fcbfad98297a596f8a6f714ba5d9b28535438641cba9bc7d8c8d459b069222
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/data/test.csv')

      Name  Age
0  Bishnu    35
1   Kashyp   36
2     ravi   65
3     somu   26

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark_without_header = spark.read.csv('/content/drive/MyDrive/data/test.csv')

In [6]:
df_pyspark_without_header

DataFrame[_c0: string, _c1: string]

In [7]:
df_pyspark_without_header.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Bishnu | 35|
| Kashyp| 36|
|   ravi| 65|
|   somu| 26|
+-------+---+

In [18]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/data/test.csv')

In [19]:
spark.read.option('header','true').csv('/content/drive/MyDrive/data/test.csv').show()

+-------+---+
|   Name|Age|
+-------+---+
|Bishnu | 35|
| Kashyp| 36|
|   ravi| 65|
|   somu| 26|
+-------+---+

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

Read top 3 row

In [21]:
df_pyspark.head(3)

[Row(Name='Bishnu ', Age='35'),
 Row(Name='Kashyp', Age='36'),
 Row(Name='ravi', Age='65')]

Display the informaion

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [ ]:
df_pyspark.inf